@use "../../scss/index" as *;

button {
  cursor: pointer;
  font-family: $font-family;
}

.btn {
display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #ff6b6b, #f06595);
  color: $white;
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  transition: all 0.3s ease;
  position: relative;
  border: none;

  &:hover {
    background: linear-gradient(90deg, #f06595, #ff6b6b);
    transform: scale(1.05);
  }
}

.btn-outline {
  background-color: transparent !important; 
  border: 1px solid $white;
  color: $white;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  transition: all 0.3s ease;
  position: relative;

  &:hover {
    background: linear-gradient(90deg, #f06595, #ff6b6b);
    color: #fff;
    border-color: transparent;
    transform: scale(1.05);
  }
}

.btn.small {
  border-width: 2px;
  padding: 0.25rem 1.5rem;
  font-size: 1rem;
}

.btn-link {
  color: $white;
  background-color: transparent  !important;
  border: none;
font-size: 1.25rem;
  font-weight: 400;
  transition: all 0.3s ease-out;

  &:hover {
    transform: scale(1.1);
  }
}


