@use '../../scss' as *;

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 3rem;

    @include tablet {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    &__loadmore {
        text-align: center;
        margin-bottom: 2rem;
    }
}

.movie-search {
    position: relative;
    width: 100%;
    max-width: 500px;

    input {
        width: 100%;
        padding-right: 8rem;
        border: 1px solid $txt-color;
    }

    button {
        position: absolute;
        right: 2px;
        top: 2px;
        bottom: 2px;
        display: flex;


        #include mobile {
            right: 1px;
            top: 1px;
        }

        .btn-icon {
            font-size: 1.25rem;
            align-self: center;
            margin-right: 4px;
        }
    }
}